@model DVVLBD.Models.dvvlBD.DoanhNghiep
@{
    ViewBag.Title = "Thông tin chi tiết Doanh Nghiệp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/style.css" rel="stylesheet" />
<link href="~/Content/css/TD_LD_Style.css" rel="stylesheet" />
<section class="bg-white">
    <div class="container">
        <div class="container row">
            <div class="col-md-8">
                <div class="padding-right">
                    <div class="row company-info content">
                        <div class="col-md-3 col-xs-6">
                            @if (@Model.LoGo != "")
                            {
                                var logo = Model.LoGo;
                                <img class="Phu_imgTD_hot" style="margin-top:10px" src="~/Images/DN_Images/@logo" />
                            }
                        </div>

                        <div class="col-md-9 col-xs-12">
                            @if (@Model.TenDoanhNghiep != "")
                            {
                                <h4>@Model.TenDoanhNghiep.ToString()</h4>
                            }
                            <h4><span><a href="#" style="font-family:monospace" title="Số điện thoại"><i class="fa fa-phone"></i>&nbsp;: @Model.DienThoai (@Model.NguoiLienHe)</a></span></h4>
                            <h4><span><a href="#" style="font-family:monospace" title="Website"><i class="fa fa-desktop"></i>&nbsp;: @Model.Website</a></span></h4>

                            <span><a href="#" style="font-family:monospace;color:red" title="Ngày hết hạn"><i class="fa fa-calendar"></i>&nbsp;Ngày tạo: @Html.FormatValue(@Model.NgayTao, "{0:dd/MM/yyyy}")</a></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <br>
                    <h3 style="padding:10px; color:#3504c6; text-decoration:underline;">THÔNG TIN CÔNG VIỆC</h3>
                    <ul class="list-1" style="font-size:16px;">
                        <li><strong>Giới thiệu doanh nghiệp:</strong><br /> <span style="margin-left:180px;"> @Model.GioiThieuChung</span></li>
                        <li><strong>Ngành kinh doanh:</strong><br /> <span style="margin-left:180px;">  @Model.DM_NganhKinhDoanh.TenNganhKinhDoanh</span></li>
                        <li><strong>Nghề kinh doanh:</strong><br /> <span style="margin-left:180px;">  @Model.DM_NgheKinhDoanh.TenNganhKinhDoanh</span></li>
                    </ul>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="widget">
                        <h4 style="font-family: monospace; color:#3504c6; text-decoration: underline;">THÔNG TIN DOANH NGHIỆP</h4>
                        <div class="job-overview">

                            <ul style="font-size:16px;">
                                <li>
                                    <i class="fa fa-calendar"></i>
                                    <div>
                                        <strong style="font-family:monospace"> Ngày thành lập:</strong>
                                        <span>@Html.FormatValue(@Model.NgayThanhLap, "{0:dd/MM/yyyy}")</span>
                                    </div>
                                </li>
                                
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <div>
                                        <strong style="font-family:monospace"> Email:</strong>
                                        <span>@Model.Email</span>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-fax"></i>
                                    <div>
                                        <strong style="font-family:monospace"> Fax:</strong>
                                        @if(@Model.Fax==null)
                                        {
                                            <span>(trống)</span>
                                        }
                                        else
                                        {
                                            <span>@Model.Fax</span>
                                        }
                                        
                                    </div>
                                </li>                                
                                <li>
                                    <i class="fa fa-home"></i>
                                    <div>
                                        <strong style="font-family:monospace"> Địa chỉ:</strong>
                                        <span>@Model.DiaChi</span>
                                    </div>
                                </li>
                            </ul>                                                   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left:110px; margin-right:40px; width:1000px">
        <div class="panel panel-info">
            <div class="panel-heading text-center" style="font-family:monospace">
                <b>Tuyển dụng cùng công ty</b>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body">
                @foreach (DVVLBD.Models.dvvlBD.DoanhNghiep_HS cungcty in ViewBag.bycty)
                {
                    <div class="item-jobpost">
                        <div class="row">
                            <div class="col-md-5">
                                <h5>
                                    <a class="Phu_header" href="/TD/TD_Detail/@cungcty.ID_HSTuyenDung">@cungcty.TieuDeHoSo</a>
                                </h5>
                            </div>
                            <div class="col-md-4 jobpost-location">
                                @if (cungcty.DoanhNghiep.ID_QuanHuyen > 0)
                                {
                                    <span><i class="fa fa-map-marker m-r-10"></i>&nbsp;@cungcty.DoanhNghiep.DM_DiaChi.TenDiaChi</span><br />
                                }
                                else
                                {
                                    <span><i class="fa fa-map-marker m-r-10"></i>&nbsp;Không xác định</span><br />
                                }

                                <span><i class="fa fa-money m-r-10"></i>&nbsp;@cungcty.DM_MucLuong.TenMucLuong</span><br />
                                @if (@cungcty.YeuCauNamKinhNghiem != null)
                                {
                                    if (cungcty.YeuCauNamKinhNghiem > 0)
                                    {
                                        <span><i class="fa fa-folder-open m-r-10"></i>&nbsp;@cungcty.YeuCauNamKinhNghiem năm kinh nghiệm</span><br />
                                    }
                                    else
                                    {
                                        <span><i class="fa fa-folder-open m-r-10"></i>&nbsp;Không yêu cầu kinh nghiệm</span><br />
                                    }
                                }
                                else
                                {
                                    <span><i class="fa fa-folder-open m-r-10"></i>&nbsp;Không yêu cầu kinh nghiệm</span><br />
                                }
                            </div>
                            <div class="col-md-3 jobpost-apply-btn">
                                <a href="/TD/TD_Detail/@cungcty.ID_HSTuyenDung" class="btn btn-primary btn-block btn-outline btn-sm">Chi tiết <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>

</section>
